[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "anthropic>=0.72.0",
    "beautifulsoup4>=4.14.2",
    "requests>=2.32.5",
    "streamlit>=1.51.0",
    "tenacity>=9.1.2",
    "trafilatura>=2.0.0",
]
